Repository Vijay-Nirmal/AInstein, pull requests merged in 2018-10, with the labels that each got.

#3 Implemented Recommendation Engine
  KnowledgeEngine/Data/FacultyInterests.json
  KnowledgeEngine/Data/FacultyNames.json
  LanguageEngine/TextClassifier.py
  LanguageEngine/models/SimpleClassifier/SimpleClassifier.py
  RecommendationEngine/Code/InterestExtractor.py
  RecommendationEngine/Code/TeacherRecommender.py
Labels: Ready For Review, RecommendationEngine

#4 Text summarization
  .gitignore
  LanguageEngine/Summarizer/Gensim.py
  LanguageEngine/Summarizer/NLTKFrequencySummarizer.py
  README.md
Labels: LanguageEngine, Ready For Review

#10 Scrape Description
  ActionBase/WebActions.py
Labels: ActionBase, Ready For Review

#14 Understand Recommendation
  ActionBase/FacultyActions.py
  ChatBase.py
  LanguageEngine/models/SimpleClassifier/Train.py
  LanguageEngine/models/SimpleClassifier/data/TrainedModel/model.tflearn.data-00000-of-00001
  LanguageEngine/models/SimpleClassifier/data/TrainedModel/model.tflearn.index
  LanguageEngine/models/SimpleClassifier/data/TrainedModel/model.tflearn.meta
  LanguageEngine/models/SimpleClassifier/data/trainingData
  LanguageEngine/models/TrainingData/context.json
  RecommendationEngine/Code/TeacherRecommender.py
Labels: ActionBase, Ready For Review
